{% extends 'base.html' %}
{% block title %}Caliper | Configure{% endblock title%}
{% block link %}
<link href="/static/css/jstree.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row"> 
    <a id="bytesttool"  href="/by_tool" class="btn btn-info btn-outline bychoice" role="button">By TestTools</a>
    <a id="bycategory"  href="/by_category" class="btn btn-info btn-outline bychoice" role="button" >By Test Categories</a>
    <a id="importconfig" class="btn btn-info btn-outline bychoice active" role="button" >Import Test Configuration</a>
</div>
<div class="row">
    
</div>
{% endblock content%}

{% block script %}
<script src="/static/js/jstree.min.js"></script>
{% endblock %}